@media (max-width: 1000px){
	/*
	******************************************
	Dashboard
	******************************************
	*/
	#qv-zoom-val-container, #qv-btn-zoom-in, #qv-btn-zoom-out, #qv-nav-right {
		display: none;
	}
	#qv-header {
        height: 100px;
 }
	#qv-header-logo {
		background-size: 180px 20px;
		background-position: 15px 40px;
		width: 210px;
		height: 100%;
		padding: 0;
		margin: 0;
	}
	#qv-navbar > li {
		font-size: 30px;
		padding: 32px 20px;
	}
	#qv-nav-search-container {
		width: 100%;
		position: fixed;
		padding: 8px;
		top: 99px;
	}
	#qv-nav-search-container input[type='text']{
	    font-size: 22px;
	    width: calc(100% - 250px);
	    height: 42px;
	       `
	}
	#qv-search-count {
		right: 275px;
		left: unset;
		top: 17px;
		font-size: 21px;
		width: 100px;
	}
	.qv-nav-search-btn{
		margin: 3px 20px;
		padding: 0 5px;
	}	
	#qv-nav-search-cancel {
		font-size: 36px;
		float: right;
		width: 25px;
	}
		
	/*
	******************************************
	MODAL
	******************************************
	*/
	.qv-modal-dialog{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.qv-modal-body {
		max-height: calc(100% - 100px);
	}	
	.qv-modal-header{
	}
	.qv-modal-title{
	    font-size: 32px;
	    padding: 28px;
	}
	.qv-modal-close {
        font-size: 50px;
	}
	.qv-modal-table > tbody > tr > td{
		font-size: 42px;
		padding: 35px 0px;
		min-width: 60px;
	}
	.qv-modal-table > tbody > tr > td:nth-child(2){
    	max-width: 100vw;
    }
	.col-md-1, .col-md-3, .col-md-5, .qv-modal-table td:nth-child(3), .qv-modal-table td:last-child{
    	display: none;
    }
	
	/*
	******************************************
	PAGES
	******************************************
	*/
	#qv-pages {
		padding-top: 94px;
	}
}

